<mat-toolbar color="primary">
  <a [routerLink]="'/home'" class="side-placeholder">
    <img src="Designer.jpeg" alt="Logo" class="side-image">
  </a>

  <span>Master Recipe</span>
  <span class="example-spacer"></span>
 
  

 
</mat-toolbar>

<div class="regs-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="reg-heading">Sign In</h2>

    <div class="logos-placeholder">
      <img src="Designer.jpeg" alt="Logo" class="logos-image">
    </div>

    <div class="regs-field-group">
      <label for="email" class="reg-label">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Enter Your Email"
        class="regs-input"
      />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <small class="reg-error">Please enter a valid email.</small>
      </div>
    </div>

    <div class="regs-field-group">
      <label for="password" class="reg-label">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter Your Password"
        class="regs-input"
      />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small class="regs-error">Password is required.</small>
      </div>
    </div>

   

    <button type="submit" class="regs-button" [disabled]="loginForm.invalid">Login</button>

    <div class="regs-terms-group">
     
      <p for="terms" class="regs-terms-label">
        Need to Create a new account?<a href="#" class="regs-link" [routerLink]="'/register'">Register here</a>
      </p>
    </div>
   
  </form>
</div>
